<div class="container-fluid chat-page">
    <div class="row">
        <div class="col-3 h-100 pt-5">
            <div class="chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            <li ng-click="openChatDetails(key)" ng-cloak ng-class="recentUser.activeSession? 'active' : ''" ng-repeat="(key,recentUser) in listOfRecentChats">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img ng-src="{{recentUser.userImage}}"
                                             class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>{{recentUser.userFullName}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight">
                                    <div class="user_info">
                                        <span><button class="btn btn-success">New</button></span>
                                    </div>
                                </div>
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
        </div>
        <div class="logout_div">
            <button ng-click="logoutUser()" class="btn btn-sm btn-danger float-right">Logout</button>
            <br>
        </div>
        <div class="col-9 bg-light h-100 w-100 pt-5">
            <div class="chat">
                <div class="card">

                    <div id="msg_container_base" class="sidenav card-body msg_card_body" ng-scrollbars ng-scrollbars-config="scrollbarConfig" id="mySidenav">
                        <div ng-cloak ng-repeat="msg in listOfRecentChats[activeChatUsername].chatArray">
                            <div class="d-flex justify-content-start mb-4" ng-if="msg.direction === 'sent'">
                                <div class="img_cont_msg">
                                    <img ng-src="{{currentUserDetails.userImage}}"
                                         class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    {{msg.chatTxt}}
                                    <span class="msg_time">{{msg.time}}</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mb-4" ng-if="msg.direction === 'received'">
                                <div class="msg_cotainer_send">
                                    {{msg.chatTxt}}
                                    <span class="msg_time_send">{{msg.time}}</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img ng-src="{{listOfRecentChats[activeChatUsername].userImage}}"
                                         class="rounded-circle user_img_msg">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="card-footer">
                        <form>
                            <div class="input-group">
                                <input type="text" ng-model="newChatText" class="form-control type_msg"
                                       placeholder="Type your message...">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" ng-click="sendMsgEventHandler()" type="submit">Send</button>                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
