
</body>
<!--libraries-->
<script src="bower_components/jquery/dist/jquery.slim.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>

<!--/libraries-->

<!--logic-->
<script src="/js/main.js"></script>
<script src="/js/chatPageController.js"></script>
<script src="/js/loginController.js"></script>
<!--/logic-->

</html>
